body{
    background: #F5D8D5;
}
.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 400px;
  height: 300px;
  background: transparent;
  border:solid 1.5px transparent;
  border-radius: 170px 10px 250px 10px/10px 200px 10px 150px;
}

.circle{
  position: absolute;
  top: 16.5%;
  left: 35%;
  width: 30%;
  height: 40%;
  background: #eb909d;
  border-radius: 50%;
}

.inner-circle{
  position: absolute;
  width: 75%;
  height: 75%;
  top: 10%;
  left: 12.5%;
  background: #F5D8D5;
  border-radius: 50%;
}

.star {
  position: absolute;
  top: 26px;
  left: 4px;
  border-right: 43px solid transparent;
  border-bottom: 33px solid #FCB576;
  border-left: 43px solid transparent;
  transform: rotate(35deg);
}

.star:before {
  position: absolute;
  top: -20px;
  left: -29px;
  border-bottom: 33px solid #FCB576;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  content: '';
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  top: 3px;
  left: -45px;
  width: 0px;
  height: 0px;
  border-right: 43px solid transparent;
  border-bottom: 33px solid #FCB576;
  border-left: 43px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.left-wing {
  position: relative;
  display: block;
  margin-top: 20%;
  margin-left: 19%;
  width: 70px;
  height: 60px;
}

.feather-1 {
  background: white;
  margin-top: 10%;
  width: 70px;
  height: 30px;
  border-radius: 50%;
  transform: rotate(30deg);
}

.feather-2 {
  background: white;
  margin-top: -10%;
  margin-left: 22%;
  width: 50px;
  height: 20px;
  border-radius: 50%;
}

.feather-3 {
  background: white;
  margin-top: -12%;
  margin-left: 50%;
  width: 30px;
  height: 15px;
  border-radius: 50%;
  transform: rotate(-35deg);
}

.right-wing {
  position: relative;
  display: block;
  margin-top: -17%;
  margin-left: 63%;
  width: 70px;
  height: 60px;
}

.feather-4 {
  background: white;
  margin-top: 10%;
  width: 70px;
  height: 30px;
  border-radius: 50%;
  transform: rotate(-30deg);
}

.feather-5 {
  background: white;
  margin-top: -10%;
  margin-left: 22%;
  width: 50px;
  height: 20px;
  border-radius: 50%;
}

.feather-6 {
  background: white;
  margin-top: -17%;
  margin-left: 4%;
  width: 30px;
  height: 15px;
  border-radius: 50%;
  transform: rotate(40deg);
}

.jewel-circle {
  position: absolute;
  top: 58%;
  left: 46%;
  width: 8%;
  height: 10%;
  background: #FCB16D;
  border-radius: 50%;
}

.jewel {
  position: absolute;
  width: 65%;
  height: 65%;
  top: 17%;
  left: 18%;
  background: #E83D5F;
  border-radius: 50%;
}

.glow {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 10%;
  left: 35%;
  background: #F7CDB3;
  border-radius: 50%;
}

.base {
  position: absolute;
  top: 56%;
  left: 46%;
  width: 8%;
  height: 3%;
  background: #FCB16D;
  border-radius: 30%;
}

.shaft {
  position: absolute;
  top: 67%;
  left: 48.2%;
  width: 3.5%;
  height: 15%;
  background: #FCB16D;
  border-radius: 10%;
}

.key-1 {
  position: absolute;
  top: 35%;
  left: 90%;
  width: 80%;
  height: 20%;
  background: #FCB16D;
  border-radius: 10%;
}

.key-2 {
  position: absolute;
  top: 70%;
  left: 90%;
  width: 80%;
  height: 20%;
  background: #FCB16D;
  border-radius: 10%;
}

button {
  position: relative;
  margin: auto;
  display: block;
  text-align: center;
  color: #91677D;
  top: 38%;
  width: 200px;
  height: 80px;
  background: transparent;
  border:transparent;
}

  button:hover {
    color: #FCB16D;
  }

  button:focus {
    outline-style: none;
  }

h3 {
  margin-top: initial;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 40px
}

  